/* Set first column */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  justify-items: center;
}

/* make responsive for larger screens */
@media screen and (min-width: 270px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  /* Stop images overlapping */
  .grid-container img {
    /*max-width: 100%;
    height: auto;*/
    width: 100%; /* Set a fixed width for all images */
    height: 150px; /* Set a fixed height for all images */
    object-fit: cover;
  }
}
